* {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
html {
    background-color: aqua;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -3rem;
    background-color: rgb(12, 219, 219);
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 0;
    box-shadow: 0px 0px 7px rgb(34, 87, 87);
}
.nav-menu h5 {
    font-size: 35px;
}

.nav-menu .menu-list a {
    text-decoration: none;
    color: black;
    /* margin-right: 45px; */
    font-size: 20px;
    box-shadow: 0px 0px 7px rgb(34, 87, 87);
    padding: 6px;
    border-radius: 4px;
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.landing-home {
    text-align: center;
    margin-top: 12rem;
}
.nav-layanan {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top : 5rem;
    align-items: center;
}
.nav-layanan-list {
    width: 30rem;
}
.nav-layanan-list-input div {
    margin-bottom : 15px;
}
.nav-informasi {
    display: flex;
    justify-content: center;
    margin-top : 7rem;
    text-align: center;
    column-gap: 3rem;
}
.nav-informasi img {
    width: 15rem;
    box-shadow: 0 0 5px  rgb(34, 87, 87);
}
.nav-informasi a {
    text-decoration: none;
    background-color: aliceblue;
    color: blue;
    border-radius: 3px;
    box-shadow: 0px 0px 5px red;
}
.nav-informasi img:hover {
    -webkit-transform: scale(1.25);
  transform: scale(1.25);
  cursor: progress;
}
.nav-pesan {
    display: flex;
    justify-content: center;
    width: auto;
    gap: 5rem;
    margin-top : 10rem;
}
.nav-pesan div {
    margin-top : 10px;
}
.nav-pesan div button {
    margin-top : 25px;
    width: 100%;
    height: auto;
}
.container-input-pesan {
    box-shadow: 0 0 5px  rgb(34, 87, 87);
    padding-left : 2rem;
    padding-right: 2rem;
}
.nav-pesan iframe {
    width: 40rem;
    height: 30rem;
}
.cart-img-style {

}
.footer {
    background-color: rgb(12, 219, 219);
    padding-top : 10px;
    padding-bottom : 30px;
    margin-top : 30px;
    position:absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-menu a {
    text-decoration: none;
    color: black;
    margin-left: 4rem;
}
@media (max-width: 629px ){
    .menu-list {
        display: flex ;
        flex-direction: column;
        height: auto;
        width: auto;
        gap : 10px;
        margin-top: 15%;
        margin-bottom: 5%;
        /* gap: 1px; */
        /* font-size: 5px; */
    }
    .nav-menu {
        width: 100%;
    }
    .landing-home h4 {
        margin-top : 25rem;
    }
    .landing-home-h4 {
        margin-bottom: -65vh;
    }
    .nav-layanan-list {
        width: 80%;
    }
    .nav-layanan-list-input {
        width: 80%;
    }
    .footer {
        width: 100%;
        margin-right: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }
    .footer-menu a {
        margin-left : 0;
    }
   
    .nav-menu {
        position: fixed;
        height:auto;
        left : 0;
        right: 0;
        display: flex;
        flex-direction: row;
    }
    .menu-list a {
        gap : 40px;
    }
}
@media (max-width: 675px){
    .nav-menu {
        display: flex;
        row-gap: 0;
    }
    .menu-list {
        display: flex;
        width: 100%;
    }
    .nav-layanan {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .nav-layanan-list p {
        text-align: justify;
    }
    .nav-informasi {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .nav-pesan {
        display: flex;
        flex-direction: column;
    }
    .nav-pesan iframe {
        width: 100%;
    }
}